# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Temp / exported CSV files
*.csv

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log
